@import '../../sources/styles/variables';

:global {
  .ant-dropdown-link {
    color: inherit;
    font-weight: bold;
  }
}

.site_row {
  @media screen and (max-width: $mobileWidth) {
    width: 190px;
  }
}

.dropdown_menu {
  @media screen and (max-width: $tabletWidth) {
    display: none;
  }
}

.logo {
  @media screen and (max-width: $mobileWidth) {
    display: none;
  }
}
