@import '../../sources/styles/variables';

.container {
  text-align: left;
}

.text {
  margin: 0 12px;
}

.button {
  margin: 20px 0;
  :global {
    .ant-typography {
      color: white !important;
    }
  }
}

.positive {
  color: green !important;
}

.negative {
  color: red !important;
}
