@import '../../sources/styles/variables';

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $brandColor;

  span {
    font-size: 24px;
    color: white !important;
  }
}
