@import '../../sources/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $brandColor;
  height: 40px;
  :global {
    .ant-menu-horizontal:hover {
      line-height: inherit;
    }
  }
}

.header_row {
  width: 100%;
  max-width: $desktop_width;
  z-index: 5;
}

.submenu {
  :global {
    .ant-menu-submenu-title {
      color: white !important;
      border: none !important;
      &:hover,
      &:visited,
      &:active {
        color: white !important;
        border: none !important;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $tablet_width) {
  .submenu span:nth-child(2) {
    display: none;
  }
}
