@import '../../sources/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $desktop_padding;
  box-sizing: border-box;
  background-color: $brandColor;
  height: 54px;

  @media screen and (max-width: $mobile_width) {
    padding: $mobile_padding;
  }
}

.navbar_row {
  width: 100%;
  max-width: $desktop_width;
  z-index: 5;
  :global {
    .ant-menu {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.menu {
  @media screen and (max-width: $tablet_width) {
    text-align: center !important;
    margin: 0 !important;
    :global {
      .ant-icon {
        margin-right: 0;
      }
    }
  }
}

.submenu {
  :global {
    .ant-menu-submenu-title {
      color: white !important;
      &:hover,
      &:visited,
      &:active {
        color: white !important;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $tablet_width) {
  .submenu span:nth-child(2) {
    display: none;
  }
}
