@import '../../sources/styles/variables';

.container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 54px;
  padding: $desktop_padding;

  @media screen and (max-width: $mobile_width) {
    padding: $mobile_padding;
  }
}

.adminbar_row {
  width: 100%;
  max-width: $desktop_width;
  z-index: 5;
}
