@import '../../sources/styles/variables';

.container {
  display: flex;
  height: 54px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: $desktopPadding;

  @media screen and (max-width: $mobileWidth) {
    padding: $mobilePadding;
  }
}

.adminbar_row {
  width: 100%;
  max-width: $desktopWidth;
  z-index: 5;
}
